<p id="notice"><%= notice %></p>

<%= form_for [:admin, @page] do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <%= f.label :title %>
      <%= f.text_field :title, :class => 'big field' %>

      <div style="background-color:papayawhip;margin:10px;padding:10px;">
      Page has:
      <ul>
      
      <% if params[:action] == 'edit' or params[:action] == 'update' %>
        <% image = Image.find_by_page_id(@page.id) %>
        <% unless image.nil? %>
          <li>
          Image <%= link_to 'Delete', admin_image_url(image), confirm: 'Are you sure?', method: :delete %>
          <%= image_tag @page.images[0].src_url(:thumb).to_s %>
          </li>
        <% end %>
       <% end %>
       

      
      <% if params[:action] == 'edit' or params[:action] == 'update' %>
        <% form = Form.find_by_page_id(@page.id) %>
        <% unless form.nil? %>
          <li>Form <%= link_to 'Remove', admin_form_url(form), confirm: 'Are you sure?', method: :delete %></li>
        <% end %>
       <% end %>
       

      
      <% if params[:action] == 'edit' or params[:action] == 'update' %>
        <% gallery = Gallery.find_by_page_id(@page.id) %>
        <% unless gallery.nil? %>
          <li>Photo gallery</li>
        <% end %>
      <% end %>
      

      
      <% if params[:action] == 'edit' or params[:action] == 'update' %>
        <% map = Location.find_by_page_id(@page.id) %>
        <% unless map.nil? %>
          <li>Map pointing to: <%= map.address %> | <%= check_box_tag 'remove_map', map.id %>remove map<br />
          <% unless (@page.locations).empty? %>
            <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@page.locations[0].latitude}%2C#{@page.locations[0].longitude}" %>
          <% end %>
          </li>
        <% end %>
      <% end %>
      </ul>
      </div>

      <div style="background-color:lightgreen;margin:10px;padding:10px;">
      Add to page:
      <ul>
      
      <% if params[:action] == 'edit' or params[:action] == 'update' %>
        <% image = Image.find_by_page_id(@page.id) %>
        <% if image.nil? %>
          <li><%= link_to 'Image', new_admin_page_image_path(@page) %></li>
        <% end %>
       <% end %>
       

      
      <% if params[:action] == 'edit' or params[:action] == 'update' %>
        <% form = Form.find_by_page_id(@page.id) %>
        <% if form.nil? %>
          <li><%= link_to 'Contact form', new_admin_page_form_path(@page) %></li>
        <% end %>
       <% end %>
       

      
      <% if params[:action] == 'edit' or params[:action] == 'update' %>
        <% gallery = Gallery.find_by_page_id(@page.id) %>
        <% if gallery.nil? %>
          <li><%= link_to 'Photo gallery', new_page_gallery_path(@page) %></li>
        <% end %>
      <% end %>
      

      
      <% if params[:action] == 'edit' or params[:action] == 'update' %>
        <% map = Location.find_by_page_id(@page.id) %>
        <% if map.nil? %>
          <li><%= link_to 'Map', new_admin_page_location_path(@page) %></li>
        <% end %>
      <% end %>
      
      </ul>
      </div>

      <%= f.label :body %>
      <%= f.text_area :body, :class => 'field', :style => "width:98%;" %>

  <div class="actions">
    <%= f.submit :disable_with => "Processing...", :class => 'submitpage' %>
  </div>
<% end %>
