<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @message.visitor_name %>
</p>

<p>
  <b>Email:</b>
  <%= @message.visitor_email %>
</p>

<p>
  <b>Phone:</b>
  <%= @message.visitor_phone %>
</p>

<p>
  <b>Content:</b>
  <%= simple_format @message.content %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
