<%= form_for [:admin, @website], :html => {:multipart => true} do |f| %>
  <% if @website.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@website.errors.count, "error") %> prohibited this website from being saved:</h2>

      <ul>
      <% @website.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <p class="tiny"><%= f.label :name %></p>
    <%= f.text_field :name, :class => "big field" %>
  
    <p class="tiny"><%= f.label :subdomain %></p>
    <%= f.text_field :subdomain, :class => "big field" %>

    <p class="tiny">Logo</p>
    <% if @website.logo? %>
      <h1 class="text"><%= image_tag(@website.logo_url(:thumb).to_s) %></h1>
      <%= f.check_box :remove_logo %> Remove logo<br />
    <% end %>    
    <%= f.file_field :logo %>
  
    <p class="tiny"><%= f.label :layout_name %></p>
    <%= f.select :layout_name,
      [["Plain", 'plain'], # Texas Community Bank
      ['Practical', 'practical'], # http://brookspumfreyresearch.co.uk/
      ["Standard", 'standard'], # 
      ['Strong', 'strong'], # http://www.neongroup.com.au/
      ['Teach', 'teach']], # www.iteachmiami.com
      {:include_blank => ' - Please select - '}, {:class => 'bigselect'} %>

    <%= f.submit :class => 'submitwebsite' %>
  
<% end %>
