<style>
table#messages th, table#messages td{
  border:1px solid #CCC;
  padding:5px;
}
</style>

<h1>Listing messages</h1>

<table id="messages">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Sent at</th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <% if message.read_at == nil %>
    <tr class="unread">
  <% else %>
    <tr class="read">
  <% end %>
    <td><%= message.visitor_name %></td>
    <td><%= message.visitor_email %></td>
    <td><%= message.visitor_phone %></td>
    <td><%= message.abbreviated_created_at %></td>
    <td><%= link_to 'View', admin_message_url(message) %></td>
    <td><%= link_to 'Delete', admin_message_url(message), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_admin_message_path %>
