<div id="content">
<p id="notice"><%= notice %></p>

<%= debug params %>

<%= debug current_website %>
<p>
  <b>Title:</b>
  <%= @page.title %>
</p>

<p>
  <b>Body:</b>
  <%= @page.body %>
</p>
</div>
