<h3>This is the nested form</h3>
<%= form_for @image, :url => admin_page_images_path(@page), :html => {:multipart => true} do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :alt %><br />
    <%= f.text_field :alt %>
  </div>
  <div class="field">
    <%= f.file_field :src %>
  </div>
  <div class="actions">
    <%= f.submit 'Upload', :disable_with => "Processing..." %>
  </div>
<% end %>
