<h1>Listing images</h1>

<style>
table#images th, table#images td{
  border:1px solid #CCC;
  padding:5px;
}
</style>

<table id="images">
  <tr>
    <th></th>
    <th>Alt</th>
    <th>Page</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td>
      <%= image_tag image.src_url(:thumb).to_s %>
    </td>
    <td><%= image.alt %></td>
    
    <% if image.page_id %>
      <% page = Page.find(image.page_id) %>
      <td><%= page.title %></td>
    <% else %>
      <td></td>
    <% end %>

    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_admin_image_path(image) %></td>
    <td><%= link_to 'Destroy', admin_image_url(image), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image', new_admin_image_path %>
