<!DOCTYPE html>
<html>
<head>
  <title><%= current_website.name %> - <%= @page.title %></title>

  <%= stylesheet_link_tag    "standard" %>
  <%= stylesheet_link_tag "fancybox" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
<script type="text/javascript">
$(document).ready(function() {
	/* Apply fancybox to multiple items */	
	$("a.group").fancybox({
		'transitionIn'	:	'elastic',
		'transitionOut'	:	'elastic',
		'speedIn'		:	600, 
		'speedOut'		:	200, 
		'overlayShow'	:	false
	});
	
});
</script>

</head>
<body>

<div id="wrapper">

<ul id="menu">
  <% @pages.each do |page| %>
    <li><%= link_to page.title, root_url(:subdomain => current_website.subdomain) + page.permalink %></li>
  <% end %> 
</ul> 

<h1><%= @page.title %>
</h1>

<%= yield %>

</div><!-- end wrapper div -->

</body>
</html>
